// Material Theming
// Define theme variables before importing any MDC Web component styles
@import "my-theme";

// Import the styles for each MDC Web component
@import "@material/button/mdc-button";
@import "@material/chips/mdc-chips";
@import "@material/textfield/mdc-text-field";
@import "@material/typography/mdc-typography";


.stickersheet-title {
  text-transform: uppercase;
  font-family: 'Roboto mono';
}

.mdc-button {
  margin-right: 5px;
}

section {
  margin: 10px;
}
