
// All theming and component-specific styling is applied here!
@import "component-styles";

// The rest of this file deals with the Material Theme Builder layout

body {
  height: 100vh;
  display: flex;
  margin: 40px;
}

// Theme Builder drawer content

.theme-builder-drawer {
  width: 360px;
  
  .mdc-drawer__content {
    padding: 0 28px;
    color: rgba(0, 0, 0, .87);
  }
  
  h6 {
    color: rgba(0, 0, 0, .6);
    margin: 0;
  }
  
  code {
    @include mdc-theme-prop(color, $mdc-theme-primary);
    font-family: 'Roboto mono';
    background: $material-color-grey-200;
  }
  
  .mdc-form-field {
    margin: 12px 0;
    
    .rtl-switch {
      margin-right: 16px;
    }
  }
}
  
.theme-builder-title {
  font-style: italic;
  font-weight: 800;
}

.team-name {
  margin-left: -1px; // Adjust for 2px border
}

.glitch-url {
  @include mdc-theme-prop(color, $mdc-theme-primary);
  margin-top: 0;
}

// Main content layout

.main-content {
  display: flex;
  flex-wrap: wrap;
  
  .column {
    margin: 0 40px;
  }
}

.component-section-row {
  display: flex;

  .component-section:first-child {
    width: 240px;
  }
}

.component-section {
  margin: 20px;
  
  .section-header {
    display: flex;
    
    a {
      display: flex;
      align-items: center;
      color: rgba(0, 0, 0, 0.54);
    
      &:hover {
        color: rgba(0, 0, 0, 0.87);
      }
    }
    
    .material-icons {
      font-size: 1rem;
      padding: 8px;
    }
  }
}

.component-wrapper {
  margin: 40px 0;
}
