// Material Theming
// Define theme variables before importing any MDC Web component styles
@import "my-theme";

// Import the styles for each MDC Web component
@import "@material/button/mdc-button";
@import "@material/checkbox/mdc-checkbox";
@import "@material/drawer/mdc-drawer";
@import "@material/fab/mdc-fab";
@import "@material/switch/mdc-switch";
@import "@material/textfield/mdc-text-field";
@import "@material/textfield/helper-text/mdc-text-field-helper-text";
@import "@material/theme/color-palette";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/typography/mdc-typography";

body {
  height: 100vh;
  display: flex;
  margin: 0;
}

.mdc-drawer {
  width: 320px;
  
  .mdc-drawer__content {
    padding: 0 28px;
    color: rgba(0, 0, 0, .87);
  }
  
  .theme-builder-title {
    font-style: italic;
    font-weight: 800;
  }

  .team-name {
    outline: none;
    border: none;
    color: rgba(0, 0, 0, 0.6);
  }
  
  h6 {
    color: rgba(0, 0, 0, .6);
    margin: 0;
  }
  
  code {
    font-family: 'Roboto mono';
    background: $material-color-deep-purple-50;
    color: $material-color-deep-purple-a700;
  }
}

.drawer-app-content {
  display: flex;
}

.component-section {
  margin: 32px;
  
  .section-header {
    display: flex;
    align-items: center;
    margin: 0;
    color: rgba(0, 0, 0, 0.54);
    
    .material-icons {
      font-size: 1rem;
      padding-left: 4px;
    }
    
    &:hover {
      color: rgba(0, 0, 0, 0.87);
    }
  }
}

.mdc-button, .mdc-fab {
  margin-right: 12px;
}

.mdc-switch {
   margin: 12px;
}

.mdc-top-app-bar {
  width: 400px;
}