// Material Theming
// Define theme variables before importing any MDC Web component styles
@import "my-theme";

// Import styles for each MDC Web component
@import "@material/button/mdc-button";
@import "@material/card/mdc-card";
@import "@material/checkbox/mdc-checkbox";
@import "@material/chips/mdc-chips";
@import "@material/dialog/mdc-dialog";
@import "@material/drawer/mdc-drawer";
@import "@material/elevation/mdc-elevation";
@import "@material/fab/mdc-fab";
@import "@material/form-field/mdc-form-field";
@import "@material/icon-button/mdc-icon-button";
@import "@material/image-list/mdc-image-list";
@import "@material/linear-progress/mdc-linear-progress";
@import "@material/list/mdc-list";
@import "@material/menu/mdc-menu";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/radio/mdc-radio";
@import "@material/select/mdc-select";
@import "@material/slider/mdc-slider";
@import "@material/snackbar/mdc-snackbar";
@import "@material/switch/mdc-switch";
@import "@material/textfield/mdc-text-field";
@import "@material/textfield/helper-text/mdc-text-field-helper-text";
@import "@material/theme/color-palette";
@import "@material/theme/functions";
@import "@material/theme/mixins";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/typography/mdc-typography";

// Button and FAB

.component-wrapper > .mdc-button,
.component-wrapper > .mdc-fab {
  margin-right: 80px;
}

// Checkbox and radio

.mdc-checkbox, .mdc-radio {
  margin-right: 12px;
}

// Switch

.mdc-switch {
  margin-right: 32px;
}

// Top app bar

.mdc-top-app-bar {
  position: relative;

  &:not(.mdc-top-app-bar--short) {
    width: 100%;
  }
}

// Card

.mdc-card {
  width: 400px;
  
  .demo-card__primary {
    padding: 1rem;
  }
  
  .demo-card__title,
  .demo-card__subtitle {
    margin: 0;
  }

  .demo-card__secondary {
    @include mdc-theme-prop(color, text-secondary-on-background);

    padding: 0 1rem 8px;
  }
}

// Linear progress

.mdc-linear-progress {
  width: 100%;
}

// Menu

.mdc-menu-surface--anchor > .mdc-menu {
  position: relative;
}

// Select 

.mdc-select {
  width: 160px;
}

// Drawer

.drawer-component-wrapper {
  background: rgba(0, 0, 0, 0.3);

  .mdc-drawer {
    @include mdc-elevation(8);

    .mdc-drawer__content {
      padding: 0;
    }
  }
}

// Text field

.mdc-text-field {
  width: 100%;
}

// Snackbar

.mdc-snackbar {
  position: relative;
  margin: 0;
  justify-content: start;
}

// Dialog

.mdc-dialog {
  position: relative;
  justify-content: start;
}

// List

.component-wrapper > .mdc-list {
  border: 1px solid rgba(0,0,0,.1);

  .mdc-list-item__graphic {
    background-color: rgba(0, 0, 0, 0.38);
    color: white;
  }
}

// Image list

.mdc-image-list {
  @include mdc-image-list-masonry-columns(2);

  width: 400px;
  max-height: 600px;
  margin: 0;
}

// Thanks for using Material! card

.glitch-card {
  @include mdc-card-fill-color($mdc-theme-primary);
  $fill-tone: mdc-theme-tone($mdc-theme-primary);

  width: 400px;
  
  .glitch-card__primary {
    padding: 1rem;
  }
  
  .glitch-card__title {
    margin: 20px;
    @if ($fill-tone == "dark") {
      @include mdc-theme-prop(color, text-primary-on-dark);
    } @else {
      @include mdc-theme-prop(color, text-primary-on-light);
    }
  }
  
  .glitch-card__subtitle {
    margin: 20px;
    @if ($fill-tone == "dark") {
      @include mdc-theme-prop(color, text-secondary-on-dark);
    } @else {
      @include mdc-theme-prop(color, text-secondary-on-light);
    }
  }

  .glitch-card__action-button {
    margin: 0 20px 20px;
    @include mdc-button-outline-width(1px);
    @include mdc-button-filled-accessible($mdc-theme-primary);
    @if ($fill-tone == "dark") {
      @include mdc-button-outline-color(text-primary-on-dark);
    } @else {
      @include mdc-button-outline-color(text-primary-on-light);
    }

    a {
      @if ($fill-tone == "dark") {
        @include mdc-theme-prop(color, text-primary-on-dark);
      } @else {
        @include mdc-theme-prop(color, text-primary-on-light);
      }
    }
  }
}

// Offset built-in padding to left-align all components

.chips-component-wrapper {
  margin-left: -8px;
}

.checkbox-component-wrapper, .radio-component-wrapper {
  margin-left: -10px;
}

.icon-button-component-wrapper {
  margin-left: -12px;
}