
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

// Material Theming
// Define the theme variables before importing any MDC Web components

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600');
$mdc-typography-font-family: unquote("Raleway, sans-serif");

$mdc-shape-small-component-radius: 4px;
$mdc-shape-medium-component-radius: 16px;
$mdc-shape-large-component-radius: 20px;

$mdc-theme-primary: #5D1049;
$mdc-theme-secondary: #E30425;
$mdc-theme-background: #f4e2ed;
$mdc-theme-error: #FD9725;